<main>
  <h1>Conditions d'utilisation du réseau social interne Groupomania</h1>
  <section>
    <article>
      <h2>Article n°1</h2>
      <div>On va pas rester plantés là comme des radis. Vous en avez encore beaucoup du sensationnel comme ça? Mais parce qu’on a des frais! Vous pouvez pas vous rentrer ça dans le crâne? Mais attendez… Y a une table et des sièges et j’devrais m’farcir toutes les notes à ratifier debout? Mais… C’est le Chevalier de Provence ou le Chevalier Gaulois? Faudrait savoir! Ah c’est sûr que les hommes vont pas pouvoir se prendre une dérouillée par semaine, comme ça pendant longtemps.</div>
    </article>

    <article>
      <h2>Article n°2</h2>
      <div>Qu’est ce que vous nous chantez? Vous êtes pas gaulois que je sache! Merde! S'ils ont entendu mon plan c'est foutu. Ah ah Sire! Je vous attends! À moins que vous préfériez qu’on dise partout que le roi est une petite pédale qui pisse dans son froc à l’idée d’se battre! Moi j’appelle ça des politesses! C’est une tarte aux myrtilles. Pourquoi elle vous revient pas? Ah mais non, on va se faire tuer là!</div>
    </article>

    <article>
      <h2>Article n°3</h2>
      <div>Mais bien sûr, comme ça au lieu de confondre les signes, ils auraient confondu les couleurs! Mais ils ont pas le droit de décider de la retraite eux-mêmes! On l’a dit et redit ça! C’est meilleur chaud, hein. Seulement là aux cuisines ils sont sur le repas du soir. Hein, ils ont pas trop le temps. Ah non, non! Y a pas de pécor pour la quête du Graal! Enfin… À moins ça ait changé? Droit devant, en plein dans leurs tronches. Mais vous êtes complètement con? S’il vous plait! Faites pas votre mijoré! Moi je me fais traiter de gonzesse j’en fais pas tout un cake! Perceval le Galois en tout cas tout le monde s’accorde à dire que c’est une tanche et ça c’est pas une légende!</div>
    </article>

    <article>
      <h2>Article n°4</h2>
      <div>C’est une tarte aux myrtilles. Pourquoi elle vous revient pas? Mais vous êtes complètement con? Mais… C’est le Chevalier de Provence ou le Chevalier Gaulois? Faudrait savoir! S'il y a un autre qui groupe qui arrive par là on est marron des deux côtés. La vache! Ca vous rend pas aimable en tout cas, hein! Vous binez pas… Même nous on a pas tout compris.</div>
    </article>

    <article>
      <h2>Article n°5</h2>
      <div>Ils chantent pas vos espions. Mais on en entend parler dans les tavernes à ivrognes! Voilà! Alors par contre, si vous sentez qu’il s’énerve un peu, hein, vous lui sortez un morceau de viande.</div>
    </article>

    <article>
      <h2>Article n°6</h2>
      <div>Moi, prochaine bataille rangée je reste à Kaamelott. N’empêche que tout le monde parle de moi! C’est quand même un signe! Alors là, personne sait qui est tombé et tout le monde s’en fout! Je suis chef de guerre moi, je suis pas là pour secouer des drapeaux et jouer de la trompette.</div>
    </article>
  </section>
</main>
