<form [formGroup]="adminFormSign" (ngSubmit)="onSubmitForm()">
    <h1>S'inscrire</h1>

    <!-- NAME -->
    <mat-form-field appearance="outline">
      <mat-label>Votre nom</mat-label>
      <input matInput type="text" formControlName="lastname" placeholder="OUPS" required />
    </mat-form-field>

    <!-- SURNAME -->
    <mat-form-field appearance="outline">
      <mat-label>Votre prénom:</mat-label>
      <input matInput type="text" formControlName="firstname" placeholder="Samantha" required />
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline">
      <mat-label>Votre adresse e-mail</mat-label>
      <input matInput type="email" placeholder="contact@gmail.com" formControlName="email" required />
    </mat-form-field>

    <!-- Confirmation Email -->
    <mat-form-field appearance="outline">
      <mat-label>Confirmez votre adresse e-mail :</mat-label>
      <input matInput type="email" placeholder="contact@gmail.com" formControlName="confEmail" required />
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label>Votre mot de passe</mat-label>
      <input matInput type="password" placeholder="Mot de passe" formControlName="password" required />
      <mat-hint>Minimum 6 caractères, une lettre majuscule et un chiffre.</mat-hint>
    </mat-form-field>

    <!-- Confirmation Password -->
    <mat-form-field appearance="outline">
      <mat-label>Confirmez votre mot de passe</mat-label>
      <input matInput type="password" placeholder="Mot de passe" formControlName="confPassword" required />
    </mat-form-field>

    <!-- Confirmation Password -->
    <mat-form-field appearance="outline">
      <mat-label>Mot de passe communiqué par votre référent</mat-label>
      <input matInput type="password" placeholder="Mot de passe" formControlName="passwordAdmin" required />
    </mat-form-field>

    <!-- Validation des Conditions -->
    <p>
      <mat-checkbox formControlName="accordTermsOfUse" required>J'accepte les </mat-checkbox><a routerLink="/auth/CU" target="_blank">conditions d'utilisation du réseau social</a>.
    </p>

    <!-- Sign in button -->
    <button mat-stroked-button type="submit" [disabled]="adminFormSign.invalid">Valider</button>
    <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>

</form>
