<form [formGroup]="userFormLogin" (ngSubmit)="onLogIn()">
    <h1>Se connecter</h1>
    <!-- Email -->
    <mat-form-field appearance="outline">
      <mat-label for="email" >Votre adresse e-mail :</mat-label>
      <input matInput type="email" placeholder="contact@gmail.com" formControlName="email" required />
      <mat-hint *ngIf="">Message d'erreur</mat-hint>
    </mat-form-field>
    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label for="password">Votre mot de passe :</mat-label>
      <input matInput type="password" placeholder="Mot de passe" formControlName="password" required />
      <mat-hint *ngIf="">Message d'erreur</mat-hint>
    </mat-form-field>

    <!-- Sign in button -->
      <button mat-stroked-button type="submit" (click)="onLogIn()" [disabled]="userFormLogin.invalid">Valider</button>
      <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>

</form>
