<mat-card-actions>
  <button mat-button (click)="onLike(idPost)">Like {{ countLike }}</button>
  <button mat-button (click)="onHeart(idPost)">Love{{ countHeart }}</button>
  <button mat-button (click)="onSmile(idPost)">Happy {{ countSmile }}</button>
  <button mat-button (click)="onLOL(idPost)">LOL {{ countLOL }}</button>
  <button mat-button (click)="onClap(idPost)">Bravo {{ countClap }}</button>
  <button mat-button (click)="onWoah(idPost)">Woah ! {{ countWoah }}</button>
  <button mat-button (click)="onSad(idPost)">Triste {{ countSad }}</button>
  <button mat-button (click)="onAngry(idPost)">Colère {{ countAngry }}</button>
</mat-card-actions>
