<button mat-fab aria-label="Ajouter une publication" (click)="onActionPost('create', '')" color="accent">
  <mat-icon>person_add</mat-icon>
</button>

<main *ngIf="tabPublications$ | async as objet">
  <mat-card *ngFor="let post of objet;">
    <mat-card-header>
      <img mat-card-avatar src={{post.UserPublications.imageUrl}} alt="Alternate" />
      <mat-card-title>{{post.UserPublications.firstname}} {{post.UserPublications.lastname}}</mat-card-title>
      <mat-card-subtitle>{{ post.createdAt | date: 'EEEE d MMMM YYYY' }}</mat-card-subtitle>
      <div *ngIf="post.actualUserOK">
        <button (click)="onActionPost('modify', post.id)">Modifier</button>
        <button (click)="delete(post.id)">Supprimer</button>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <img mat-card-image *ngIf="post.imagePost" src={{post.imagePost}} alt="Alternate Text" />
    <img mat-card-image *ngIf="post.gifPost" src={{post.gifPost}} alt="Alternate Text" />
    <mat-card-content>
      <p *ngIf="post.textPost">{{ post.textPost }}</p>
    </mat-card-content>
    <app-emotion [idPost]="post.id"></app-emotion>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <app-comment [idPost]="post.id"></app-comment>
    </mat-card-footer>
  </mat-card>
</main>

<p *ngIf="!isLoad">Nous avons rencontré un problème lors du chargement des publications. Nous nous excusons pour la gêne occasionnée et nous vous invitons à revenir ultérieurement.</p>
