<button mat-fab aria-label="Ajouter un utilisateur" (click)="onCreateUser()" color="accent">
  <mat-icon>person_add</mat-icon>
</button>

<main *ngIf="tabPublications$ | async as objet">
  <mat-card *ngFor="let post of objet;">
    <mat-card-header>
      <div mat-card-avatar>Icone User</div>
      <mat-card-title>Prénom et Nom du user</mat-card-title>
      <mat-card-subtitle>{{ post.createdAt }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <img mat-card-image *ngIf="post.imagePost" src={{post.imagePost}} alt="Alternate Text" />
    <img mat-card-image *ngIf="post.gifPost" src={{post.gifPost}} alt="Alternate Text" />
    <mat-card-content>
      <p *ngIf="post.textPost">{{ post.textPost }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onDislike(post.id)">Likes {{ totalLike }}</button>
      <button mat-button (click)="onLike(post.id)">Sad {{ post.sad }}</button>
    </mat-card-actions>
    <mat-card-footer>Commentaires</mat-card-footer>
  </mat-card>
</main>

<p *ngIf="!isLoad">Nous avons rencontré un problème lors du chargement des publications. Nous nous excusons pour la gêne occasionnée et nous vous invitons à revenir ultérieurement.</p>
