body {
  margin : 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  background: url('../assets/img/ville_de_nuit.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
