<mat-dialog-content>
  <h1 mat-dialog-title>Modifier ses informations</h1>
  <mat-dialog-actions>
    <button mat-mini-fab mat-dialog-close aria-label="Quitter" color="accent">
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
  <form action="/" method="post">
    <!-----ZONE DESCRIPTION---->
    <mat-form-field>
      <mat-label>Modifiez votre description ...</mat-label>
      <textarea></textarea>
    </mat-form-field>
    <!-----ZONE IMAGE DE PROFIL---->
    <input type="file" name="name" value="" />
    <!-----VISUALISATION IMAGE DE PROFIL---->
    <img src="#" alt="Votre nouvelle photo de profil" />
    <mat-dialog-actions>
      <button>Valider les modifications</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
