<!--------------------------en tete-->
<header>
  <img src="{{avatar}}" alt="Photo de profil de {{firstname}}" />
  <h1><span>B</span>ienvenue sur votre profil {{ firstname }} !</h1>
</header>

<main>
  <!--------------------------card-->
  <section class="profil">
    <div>NOM : {{ lastname }} <br />Prénom : {{ firstname }}</div>
    <div>Description : {{ description }}</div>
    <button mat-raised-button (click)="modifyInfo()">Modifier mes informations</button>
  </section>
    <mat-divider></mat-divider>
  <div class="access" *ngIf="accessListingUsersButton">
    <button mat-raised-button (click)="listUsers()">Voir la liste des utilisateurs</button>
  </div>
  <section class="post">
    <h2>Visualisation de vos publications</h2>
    <mat-divider></mat-divider>
    <app-publication-current></app-publication-current>
  </section>
</main>

<footer>
  <p><mat-icon>warning</mat-icon>
    Cette action est définitive. <br />Toutes vos publications et tous vos commentaires seront supprimés.
  </p>
  <button mat-raised-button (click)="deleteUser()">Supprimer définitivement mon compte</button>
</footer>
