@import "../../../sass/mixins";

mat-dialog-content, .mat-dialog-content {
  border-bottom: 1px solid #d05059;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media-min("tablet-up") {
    height: 100%;
    padding-top: 5%;
  }
  @include media-min("desktop-sm") {
    padding-top: 10%;
  }
}

div{
  text-align: center;
  @include media-min("tablet-up") {
    font-size: 3.5vmin;
    line-height: 150%;
  }
}

button {
  background-color: #d05059;
  color: #E1E1E1;
  @include media-min("tablet-up") {
    padding:2%;
    font-size: 4vmin;
    width: 8vmin;
    height: 8vmin;
  }
  .mat-icon{
    @include media-min("tablet-up") {
      font-size: 5vmin;
      width: 100%;
      height: 100%;
    }
  }
}

.mat-icon{
  color: #d05059;
  font-size: x-large;
}

h1{
  color: #d05059;
  font-size: medium;
  font-weight: bold;
  padding: 0;
  margin: 5% auto 0% auto;
  @include media-min("tablet-up") {
    font-size: 4vmin;
    line-height: 150%;
  }
}

.mat-mini-fab{
  background-color: #535353;
}

.mat-dialog-actions{
  margin-top: 5%;
  button{
    width: 100%;
  }
}

.mat-form-field{
  @include media-min("tablet-up") {
    font-size: 3.5vmin;
    width: 100%;
  }
}
